* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: #2e8934;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.card-img {
    border-radius: 50%;
}
.card-name {
    font-size: 2rem;
    color: #FFF500;

}
.card-buttons {
    display: flex;
    gap: 1rem;
}
.card-buttons button {
    background-color: #15ACC9;
    padding: 0.8rem;
    border-radius: 3rem;
    border-style: none;
    font-size: 2rem;
    width: 50%;
}
.result {
    font-size: 2.5rem;
    color: rgb(8, 119, 8);
    padding: 0 2rem;
}
