@font-face {
    font-family: rickmorty;
    src: url("get_schwifty.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: #2e8934;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header-container h1 {
    font-family: rickmorty;
    font-weight: 400;
    font-size: 3rem;
    color: #15acc9;
    text-align: center;
    text-shadow: 0 0 3px #000000, 0 0 11px #fff500;
}
.main-content {
    display: flex;
    height: 100%;
}
.content-image {
    width: 80%;
    bottom: 0;
    position: absolute;
}

pre,
button {
    position: absolute;
    font-family: 'Gaegu';
    align-items: center;
}
.home-quistion {
    top: 20%;
    right: 1%;
    color: #15ACC9;
    font-size: 4rem;
    font-weight: 400;
    text-shadow: 0 3px 3px #000000;
}
.play-btn {
    top: 70%;
    right: 20%;
    padding: 0.8rem;
    border-radius: 3rem;
    background-color: #15ACC9;
    border-style: none;
    font-size: 2rem;
    width: 25%;
    color: #FFF500;

}

@media screen and(min-width: 650px) {
    .content-image {
        width: 50%;
    }
}
